.tour-plans{
    max-height: 70vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.tour-plans::-webkit-scrollbar {
    display: none;
}
